<div  class="container-contact100">



		<div class="contact100-map" id="google_map" data-map-x="40.722047" data-map-y="-73.986422" data-pin="images/icons/map-marker.png" data-scrollwhell="0" data-draggable="1"></div>

		<div class="wrap-contact100">
		
				<span class="contact100-form-title" >
					 Choose your energy provider
				</span>
			<div id="div" class="select" >
				<select id="ddl"  class="wrap-input100" gma-width-DropDownList>
					<option >Alterna</option>
					<option >cdiscount energie</option>
					<option >EDF</option>
					<option> Energie du Santerre</option>
				</select>
			</div>
			<br>
			<hr style="width: 100%; color: black; height: 2px; background-color:#D8D8D8;" />
			<br>
			
			
			<form  [formGroup]="addressForm" class="contact100-form validate-form" >
			 <div formGroupName="adressData">
				<span class="contact100-form-title" >
					 Autocomplete Address Form 
				</span>
				
				
				
					<input class="input100 form-control" type="text" formControlName="search" autocorrect="off" autocapitalize="off" spellcheck="off"   name="search" placeholder="Enter your address" id="search" #search [formControl]="searchControl" gma-width-input>

					<span class="focus-input100" ></span>
				
					
				<hr style="width: 100%; color: black; height: 2px; background-color:#D8D8D8;" />
				<br>
				<br>
				
				<br>
				<br><br>
				
				<span class="contact100-form-title" >
					 The result will be displayed here!
				</span>
				
				<div >
				
					<label for="street_address">Street Address</label>     
					<div class="wrap-input100">
						<input class="input100 form-control " type="text" id="street_address" formControlName="street_address">
						<span class="focus-input100"></span>
					</div>
					<label for="locality">City</label>    
					<div class="wrap-input100"> 
						<input class="input100 form-control " type="text" id="locality" formControlName="locality">
						<span class="focus-input100"></span>
					</div>
					
					<tr>
						<td>
							<label for="region">State</label> 
							<div class="wrap-input100-2">
									
								<input class="input100 form-control " type="text" id="region" formControlName="region">
								<span class="focus-input100"></span>
							</div>
						</td>
						<td>
							<label for="postal_code">Zip Code</label> 
							<div class="wrap-input100-2">
									
								<input class="input100 form-control " type="text" id="postal_code" formControlName="postal_code">
								<span class="focus-input100"></span>
							</div>
						</td>
					</tr>
					
					<label for="country_name">Country</label> 
					<div class="wrap-input100">	
						<input class="input100 form-control " type="text" id="country_name" formControlName="country_name">
						<span class="focus-input100"></span>
					</div>
				</div>
			 </div>
			</form>

			


		</div>
</div>


